.ForYouHeader {
    margin: 30px;

}


.ForYouTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 53px;
    color: #42427D
}

.ForYouCardsContainer {
    background-color: transparent;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    overflow-x: scroll;
}

.ForYouCardsContainer ::-webkit-scrollbar {
    display: none;
}

.ForYouPlaceHolder {
    margin-left: 600px;
}

.ForYouCard {
    margin: 30vh;
    background-color: #ecf0f1;
    width: 300px;
    height: 70vh;
    margin: 20px;
    color: #34495e;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}


.ForYouImgContainer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 35vh;
}

.ForYouCardImg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 35vh;
}

.ForYouImgBotBar {
    margin-top: -100px;
    right: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.ForYouRequestButton {
    height: 50px;
    width: 50px;
    /* bottom: 5px; */
}

.FullName {
    font-size: 22px;
}

.ClassesArray {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
